@model IEnumerable<JobOffers.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("New Job", "New", "Job", null, new { @class= "btn btn-primary"})
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.JobTitle)</th>
            <th>@Html.DisplayNameFor(m => m.JobDescription)</th>
            <th>@Html.DisplayNameFor(m => m.JobCategory.Name)</th>
            <th>@Html.DisplayNameFor(m => m.ImageUrl)</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.JobTitle</td>
                <td>@item.JobDescription</td>
                <td>@item.JobCategory.Name</td>
                <td>@item.ImageUrl</td>
                <td>
                    <a href="~/Job/Edit/@item.Id" class="icons fa fa-edit text-primary"></a>
                    <a href="~/Job/Details/@item.Id" class="icons fa fa-info-circle text-info"></a>
                    <a href="" class="icons fa fa-trash text-danger delete-job" data-job-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".delete-job").on("click", function () {

                var row = $(this).closest("tr");
                var id = $(this).attr("data-job-id");
                console.log("delete")
                if (confirm("Are you sure to delete")) {
                    $.ajax({
                        url: "/Job/Delete/" + id,
                        method: "DELETE",
                        success: function () {
                            row.remove();
                            console.log("Success");
                        },
                        error: function () {
                            console.log("fail");
                        }
                    });
                }
                return false;
            });
        });
    </script>
}